
/*HOME PAGE*/
#home-jumbo {
	background: url("../images/desk-pic.jpeg") no-repeat center;
	min-height: 100vh;
	padding: 200px 0 100px;
	text-align: center;
	color: white;
	background-size: cover;
}

/*this is how to inject pictures into those funny jumbotrons*/
/*ABOUT PAGE*/
#about-jumbo {
	background: url("../images/paintbrush.jpeg") no-repeat center;
	min-height: 100vh;
	padding: 200px 0 100px;
	color: black;
	background-size: cover;
}

div.col-sm-5 {
	background-image: url(../images/art-shelf.jpeg);
	width: 400px;
	height: 200px;
	background-size: 350px;
}

/*this pic is from profile page*/
div.profile-container {
	background-image: url(../images/jane-smith.jpeg);
	width: 300px;
	height: 250px;
	background-size: 250px;

}