
/*HOME PAGE*/
#home-jumbo {
	background: url("../images/desk-pic.jpeg") no-repeat center;
	min-height: 100vh;
	margin: 0;
	padding: 200px 0 100px;
	text-align: center;
	color: white;
	background-size: cover;
}

/*HOME TEXT*/
.col-xs-12 #home-jumbo {
	font-family: 'Droid Serif', serif;
	font-style: italic;
}
.col-xs-12 .lead {
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	font-style: normal;

}

/*this is how to inject pictures into those funny jumbotrons*/
/*ABOUT PAGE*/
#about-jumbo {
	background: url("../images/paintbrush.jpeg") no-repeat center;
	min-height: 100vh;
	padding: 200px 0 100px;
	color: black;
	background-size: cover;
}

div.col-sm-5 {
	background-image: url(../images/art-shelf.jpeg);
	width: 400px;
	height: 200px;
	background-size: 350px;
}

/*FOOTER CSS*/
.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

footer {
	right: 90%;
	background-color: black;
	color: white;
}
/*this pic is from profile page*/
div.profile-container {
	background-image: url(../images/jane-smith.jpeg);
	width: 300px;
	height: 250px;
	background-size: 250px;

}