
/*HOME PAGE*/
#home-jumbo {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/desk-pic.jpeg") no-repeat center;
	min-height: 100vh;
	margin: 0;
	padding: 200px 0 100px;
	text-align: center;
	color: white;
	background-size: cover;
}

/*HOME TEXT*/
.col-xs-12 #home-jumbo {
	/*font-family: 'Droid Serif', serif;
	font-style: italic;*/
}
.col-xs-12 .lead {
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	font-style: normal;
}
.col-xs-12 .btn-default.btn-lg {
	font-style: normal;

}

/*this is how to inject pictures into those funny jumbotrons*/
/*ABOUT PAGE*/
#about-jumbo {
	background: url("../images/painted-wall.jpg") no-repeat;
	min-height: 100vh;
	margin: 0;
	padding: 200px 0 100px;
	color: black;
	background-size: 150%;
}

/*ABOUT TEXT*/
.col-xs-12 .icon-about {
	font-family: 'Montserrat', sans-serif;
	padding-right: 60px;


}
.col-xs-12 .leader {
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	padding: 20px 40px;
	position: relative;
}


div.col-sm-5 {
	background-image: url(../images/art-shelf.jpeg);
	width: 400px;
	height: 200px;
	background-size: 350px;
}

.statement-container {
	background-color: lightskyblue;
}



/*SIGN UP PAGE*/
div.signup-content {
	background-image: url(../images/full-wallart.jpg);
	background-size: 100%;
	min-height: 100vh;

}

/*SIGN IN PAGE*/
div.signin-content{
	background-image: url(../images/full-wallart.jpg);
	background-size: cover;
	min-height: 100vh;
	border-radius: 0;
	padding-top: 15%; /*might need to be taken out or adjusted depending on the view of demo day screen*/
}
.index-div {
	padding-right:0;
	padding-left: 0;
}
/*to cancel out the margin of sign in*/
.jumbotron {
	margin-bottom: 0px;
}


/*SIGN IN FORM*/
#welcome {
	border-radius: 0;
	background-attachment: fixed;
}

.navbar {
	margin-bottom: 0;
}




/*FOOTER CSS*/
.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

footer {
	right: 90%;
	background-color: black;
	color: white;
}
/*this pic is from profile page*/
.profile-picture {
	background-image: url(../images/profile-photo.png);
	width: 300px;
	height: 250px;
	background-size: 250px;
}


/*Flek Feed*/

.col-lg-12 .page-header {
	text-align: center;
}
html, body {
	font-family: 'Montserrat', sans-serif;
}

/*.img-responsive {
	height: 300px;
	width: 300px;
}*/

.feed-image {
	height: 400px;
}

.portfolio-item {
	/*outline: black solid thin;
	margin-left: 7px;*/
	text-align: center;
	height: 400px;
	width: 400px;
}

.sidebar{
	position: fixed;
	font-size: x-large;
}
a:link {color: #000000;
}

/*PROFILE FORM CSS*/
.profile-formcontainer {
	margin: 0 auto;
	width: 80%;
}



/*NAV BAR COLOR CHANGE when hover over text*/
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-brand:hover {
	color: orange;
}